---
const PROJECTS = [
    {
        title: 'Agenda Electrónica',
        description: 
        'This project consists of the development of a Single Page Application (SPA) to manage a personal event agenda. Technologies such as Redux are used for state management. (The backend of this project is under construction)',
        link: 'https://agenda-p-redux.netlify.app/',
        github: 'https://github.com/rotsenk/Agenda-Redux/tree/main/agenda-redux',
        image: './public/projects/agenda-redux.webp',
        tags: ['HTML', 'CSS', 'JavaScript', 'React', 'Redux']
    }
]
---
{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag =>(
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt={`Captura de pantalla del proyecto ${image}`}>
        </article>
    ))
}